/* COLORS
   ================================*/
$main-purple: #49038b;
$splash-green: #338a34;
$gray: #d4d4d4;
$black: #000;
$white: #fff;

/* FONTS
   ================================*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic,900,900italic,300,300italic|Comfortaa:400,700,300);
