<%= form_for @contact do |f| %>
  <div class="email-container">
    <%= f.label :email %>
    <%= f.email_field :email, placeholder: "carl@example.com", class: "email-input", id: "email-input" %>
  </div>

  <div class="actions">
    <%= f.submit "Subscribe", class: "subscribe-button" %>
  </div>
<% end %>
