<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
  <tr>
    <td class="header" style="height: 40px; background: #fff;">
      <h1 class="main-logo" style="font-family: 'Comfortaa', Georgia, serif;font-size: 20px;font-weight: bold;margin: 0;padding: 0;text-align: center;">
        <a href="http://dailycannabis.news" style="text-decoration: none;">DailyCannabis.News</a>
      </h1>
    </td>
  </tr>
  <tr>
    <td class="summary-container" style="background: #fff;padding: 3% 5%; color: #000; font-size: 14px; line-height: 20px;">
      <h1 style="margin-bottom: 30px;">The Big Picture</h1>
      <p ><%= markdown(@newsletter.description) %></p>
    </td>
  </tr>
  <tr>
    <td class="article-container" style="background-color: #fff; padding: 3% 5%;">
      <h1 style="margin-bottom: 30px;">Best Articles</h1>
      <% @articles.each_with_index do |article, index| %>
        <div style="margin-bottom: 20px;">
          <%= link_to("#{index + 1}.  #{article.title}", article.url, target: "_blank", style: "font-size: 16px; font-weight: bold; text-decoration: none") %>
        </div>
      <% end %>
    </td>
  </tr>
  <tr>
    <td class="summary-container" style="background: #fff;padding: 3% 5%; color: #000; font-size: 14px; line-height: 20px;">
      <h3>How can we improve?</h3>
      <p>
        We want to build the best tool for you to stay competitive in the cannabis industry. Send us your feedback by filling out <a href="https://docs.google.com/forms/d/18uT4f1z9S80Jy72Avjg6vgI62mV7oE_RpbqK2Oh1xHk/viewform" target="_blank">this form</a>,
        or by responding to this email.
      </p>
    </td>
  </tr>
  <tr>
    <td class="footer" style="background: #fff;height: 40px;text-align: center;">
      <a class="social-link" href="https://www.facebook.com/profile.php?id=100011616335775" target="_blank" style="color: #694198;padding: 0 20px;">Facebook</a>
      <a class="social-link" href="https://twitter.com/daily_canna" target="_blank" style="color: #694198;padding: 0 20px;">Twitter</a>
      <a class="social-link" href="https://www.instagram.com/dailycannabisnews/" target="_blank" style="color: #694198;padding: 0 20px;">Instagram</a>
    </td>
  </tr>
</table>
