html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: $white;
  color: $black;
  font-family: 'Lato', sans-serif;
  height: 100vh;
  width: 100vw;
}

header {
  background-color: $main-purple;
  height: 40px;
}

.main-logo {
  color: $white;
  font-family: 'Comfortaa', cursive;
  font-size: 1.714rem; //24px in most browsers
  margin: 0;
  padding: 0;
  text-align: center;
}

footer {
  height: 40px;
}

.social-media {
  margin: 0 auto;
  width: 375px;
}
